# Fox and Hound Sales

In [1]:
#import dependencies
import pandas as pd
import numpy as np

In [2]:
#import files
weekbyweek = pd.read_excel("./2021/Week by Week Totals.xlsx", None)

In [3]:
# Check list of sheets
weekbyweek.keys()

dict_keys(['Wkly Totals', 'Wk by Wk', 'Mth by Mth'])

In [4]:
# Sort each sheet to variables 
# print full sheet to get a look at how to clean this up
pd.set_option('display.max_column', None)
pd.set_option('display.max_row', None)
wklytotal = weekbyweek['Wkly Totals']
wkbywk = weekbyweek['Wk by Wk']
mthbymth = weekbyweek['Mth by Mth']

In [5]:
wklytotal.head(9)

,F&H Sales - Weekly Totals,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,F&H Sales - Weekly Totals.1,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,F&H Sales - Weekly Totals.2,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,F&H Sales - Weekly Totals.3,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32
0,NaN,NaN,2017.0,2018.00,2019.00,2020.00,2021.00,NaN,NaN,2017.0,2018.00,2019.00,2020.0,2021.00,NaN,NaN,2017.0,2018.00,2019.00,2020.00,2021.00,NaN,NaN,2017.0,2018.00,2019.00,2020.00,2021.00,NaN,NaN,2018.00,2019.00,2020.00
1,Week 1,M,NaN,0.00,1877.88,1776.24,1855.74,Week 14,M,NaN,1022.30,1742.21,0.0,941.88,Week 27,M,NaN,995.54,1328.89,661.00,1268.63,Week 40,M,NaN,1145.34,1583.50,1164.64,1049.24,Week 53,M,1877.88,1776.24,1370.72
2,NaN,T,NaN,1222.95,0.00,2336.43,1305.33,NaN,T,NaN,1344.93,2088.50,0.0,2697.13,NaN,T,NaN,2718.34,1740.13,659.25,1467.40,NaN,T,NaN,1380.28,1233.85,630.17,1183.11,NaN,T,NaN,2336.43,1211.25
3,NaN,W,NaN,2021.75,2181.72,0.00,2450.89,NaN,W,NaN,2502.53,2430.52,0.0,2365.09,NaN,W,NaN,0.00,2883.23,1058.49,4056.15,NaN,W,NaN,1812.37,1844.71,1794.49,1738.95,NaN,W,NaN,NaN,1838.68
4,NaN,T,NaN,1602.64,1838.60,1456.68,1986.80,NaN,T,NaN,2091.61,2275.52,0.0,2950.96,NaN,T,NaN,1256.79,0.00,1131.74,1432.77,NaN,T,NaN,1698.68,1803.44,1720.08,1848.60,NaN,T,NaN,NaN,2351.71
5,NaN,F,NaN,1896.04,2267.91,1830.02,2574.28,NaN,F,NaN,2402.93,3292.02,0.0,2832.65,NaN,F,NaN,2087.40,2792.09,1521.70,2177.34,NaN,F,NaN,1883.68,1912.03,2195.68,1905.16,NaN,F,NaN,NaN,0.00
6,NaN,S,NaN,3026.82,2209.32,1453.82,2073.30,NaN,S,NaN,1971.25,2284.00,0.0,2479.18,NaN,S,NaN,3464.32,1805.12,0.00,2114.67,NaN,S,NaN,1831.06,2454.55,1149.35,1778.35,NaN,S,NaN,NaN,1929.93
7,NaN,S,NaN,1309.79,1399.46,1516.07,1313.59,NaN,S,NaN,1422.24,2284.14,0.0,1549.35,NaN,S,NaN,1273.07,1636.59,682.45,5116.91,NaN,S,NaN,1010.77,1448.39,1252.83,0.00,NaN,S,NaN,NaN,1108.26
8,NaN,Ttl,NaN,11079.99,11774.89,10369.26,13559.93,NaN,Ttl,NaN,12757.79,16396.91,0.0,15816.24,NaN,Ttl,NaN,11795.46,12186.05,5714.63,17633.87,NaN,Ttl,NaN,10762.18,12280.47,9907.24,9503.41,NaN,Ttl,1877.88,4112.67,9810.55

In [6]:
# List of names for reference 
weekbyweek['Wkly Totals'].columns

Index(['F&H Sales - Weekly Totals', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3',
       'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8',
       'F&H Sales - Weekly Totals.1', 'Unnamed: 10', 'Unnamed: 11',
       'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15',
       'F&H Sales - Weekly Totals.2', 'Unnamed: 17', 'Unnamed: 18',
       'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22',
       'F&H Sales - Weekly Totals.3', 'Unnamed: 24', 'Unnamed: 25',
       'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29',
       'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32'],
      dtype='object')

In [7]:
# week by week comparison by years
wkbywk.head(9)

,F&H Turnover - Week by Week Comparison,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,NaN,2017.0,2018.00,2019.00,2020.00,2021.00
1,Wk 1,NaN,11079.99,11774.89,10369.26,13559.93
2,Wk 2,NaN,14227.18,14677.40,12874.59,11558.62
3,Wk 3,NaN,12245.37,13644.76,12273.52,8998.44
4,Wk 4,NaN,12539.95,14054.31,12124.24,4576.24
5,Wk 5,NaN,12819.22,13754.56,11963.40,10534.43
6,Wk 6,NaN,10654.13,14469.51,12446.39,11735.42
7,Wk 7,NaN,12828.19,15954.74,14411.92,11218.95
8,Wk 8,NaN,13227.18,14945.43,15159.69,12132.85

In [8]:
# month to month comparison by years
# *Note - Contact owner about other business name in the data. may be the wrong sheet or wrong name
mthbymth.head(9)

,Mulligan's Turnover - Week by Week Comparison,Month by Month Comparison,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,NaN,2017.0,2018.00,2019.00,2020.00,2021.00
1,January,NaN,54156.07,60143.12,52515.57,41731.42
2,February,NaN,49685.28,59451.23,58518.17,45621.65
3,March,NaN,58872.55,77070.61,33063.66,62648.56
4,April,NaN,51447.97,64712.87,0.00,61265.67
5,May,NaN,52201.58,62557.09,9517.20,57543.31
6,June,NaN,52245.87,57682.84,39853.96,55396.75
7,July,NaN,50897.56,55733.22,20483.45,61034.03
8,August,NaN,46924.70,61266.39,37261.07,39962.50

## Weekly Total Cleanup

In [9]:
wklytotal.dropna
wklytotal.fillna(0, inplace = True)
wklytotal.head(9)

,F&H Sales - Weekly Totals,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,F&H Sales - Weekly Totals.1,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,F&H Sales - Weekly Totals.2,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,F&H Sales - Weekly Totals.3,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32
0,0,0,2017.0,2018.00,2019.00,2020.00,2021.00,0,0,2017.0,2018.00,2019.00,2020.0,2021.00,0,0,2017.0,2018.00,2019.00,2020.00,2021.00,0,0,2017.0,2018.00,2019.00,2020.00,2021.00,0,0,2018.00,2019.00,2020.00
1,Week 1,M,0.0,0.00,1877.88,1776.24,1855.74,Week 14,M,0.0,1022.30,1742.21,0.0,941.88,Week 27,M,0.0,995.54,1328.89,661.00,1268.63,Week 40,M,0.0,1145.34,1583.50,1164.64,1049.24,Week 53,M,1877.88,1776.24,1370.72
2,0,T,0.0,1222.95,0.00,2336.43,1305.33,0,T,0.0,1344.93,2088.50,0.0,2697.13,0,T,0.0,2718.34,1740.13,659.25,1467.40,0,T,0.0,1380.28,1233.85,630.17,1183.11,0,T,0.00,2336.43,1211.25
3,0,W,0.0,2021.75,2181.72,0.00,2450.89,0,W,0.0,2502.53,2430.52,0.0,2365.09,0,W,0.0,0.00,2883.23,1058.49,4056.15,0,W,0.0,1812.37,1844.71,1794.49,1738.95,0,W,0.00,0.00,1838.68
4,0,T,0.0,1602.64,1838.60,1456.68,1986.80,0,T,0.0,2091.61,2275.52,0.0,2950.96,0,T,0.0,1256.79,0.00,1131.74,1432.77,0,T,0.0,1698.68,1803.44,1720.08,1848.60,0,T,0.00,0.00,2351.71
5,0,F,0.0,1896.04,2267.91,1830.02,2574.28,0,F,0.0,2402.93,3292.02,0.0,2832.65,0,F,0.0,2087.40,2792.09,1521.70,2177.34,0,F,0.0,1883.68,1912.03,2195.68,1905.16,0,F,0.00,0.00,0.00
6,0,S,0.0,3026.82,2209.32,1453.82,2073.30,0,S,0.0,1971.25,2284.00,0.0,2479.18,0,S,0.0,3464.32,1805.12,0.00,2114.67,0,S,0.0,1831.06,2454.55,1149.35,1778.35,0,S,0.00,0.00,1929.93
7,0,S,0.0,1309.79,1399.46,1516.07,1313.59,0,S,0.0,1422.24,2284.14,0.0,1549.35,0,S,0.0,1273.07,1636.59,682.45,5116.91,0,S,0.0,1010.77,1448.39,1252.83,0.00,0,S,0.00,0.00,1108.26
8,0,Ttl,0.0,11079.99,11774.89,10369.26,13559.93,0,Ttl,0.0,12757.79,16396.91,0.0,15816.24,0,Ttl,0.0,11795.46,12186.05,5714.63,17633.87,0,Ttl,0.0,10762.18,12280.47,9907.24,9503.41,0,Ttl,1877.88,4112.67,9810.55

In [10]:
# only run this once
wklytotal.columns = np.append(wklytotal.iloc[0, :33].astype('int'), wklytotal.columns[33:])
wklytotal = wklytotal.iloc[1:].reset_index(drop=True)

In [11]:
#drops any row that has 0's in the entire row
wklydrop = wklytotal.loc[(wklytotal!=0).any(1)]

In [12]:
# reset index after dropping the dead rows
wklydrop.reset_index(drop=True, inplace=True)

In [13]:
# rename the columns the easy way. next time, just import stringIO 
# needed to give placeholder names to group columns
wklydrop.columns = ['Week', 'Day', '2017', '2018', '2019','2020','2021', 
                    'Week.a','Day.a', '2017.a', '2018.a', '2019.a','2020.a','2021.a', 
                    'Week.b', 'Day.b', '2017.b', '2018.b', '2019.b','2020.b','2021.b',
                   'Week.c', 'Day.c', '2017.c', '2018.c', '2019.c','2020.c','2021.c',
                   'Week.d', 'Day.d', '2018.d', '2019.d','2020.d']

In [20]:
# yup it worked
wklydrop.columns

Index(['Week', 'Day', '2017', '2018', '2019', '2020', '2021', 'Week.a',
       'Day.a', '2017.a', '2018.a', '2019.a', '2020.a', '2021.a', 'Week.b',
       'Day.b', '2017.b', '2018.b', '2019.b', '2020.b', '2021.b', 'Week.c',
       'Day.c', '2017.c', '2018.c', '2019.c', '2020.c', '2021.c', 'Week.d',
       'Day.d', '2018.d', '2019.d', '2020.d'],
      dtype='object')

In [21]:
# Group the Weeks into quarters 
Q1 = wklydrop.iloc[:, 0:7]
Q2 = wklydrop.iloc[:, 7:14]
Q3 = wklydrop.iloc[:, 14:21]
Q4 = wklydrop.iloc[:, 21:28]
Q4a = wklydrop.iloc[:, 28:33]

In [24]:
Q1.head()

     Week Day  2017     2018     2019     2020     2021
0  Week 1   M   0.0     0.00  1877.88  1776.24  1855.74
1       0   T   0.0  1222.95     0.00  2336.43  1305.33
2       0   W   0.0  2021.75  2181.72     0.00  2450.89
3       0   T   0.0  1602.64  1838.60  1456.68  1986.80
4       0   F   0.0  1896.04  2267.91  1830.02  2574.28

In [25]:
Q2.columns = ['Week', 'Day', '2017', '2018', '2019','2020','2021']
Q3.columns = ['Week', 'Day', '2017', '2018', '2019','2020','2021']
Q4.columns = ['Week', 'Day', '2017', '2018', '2019','2020','2021']

In [32]:
Q1

          Week  Day  2017       2018       2019       2020       2021
0       Week 1    M   0.0       0.00    1877.88    1776.24    1855.74
1       Week 1    T   0.0    1222.95       0.00    2336.43    1305.33
2       Week 1    W   0.0    2021.75    2181.72       0.00    2450.89
3       Week 1    T   0.0    1602.64    1838.60    1456.68    1986.80
4       Week 1    F   0.0    1896.04    2267.91    1830.02    2574.28
5       Week 1    S   0.0    3026.82    2209.32    1453.82    2073.30
6       Week 1    S   0.0    1309.79    1399.46    1516.07    1313.59
7       Week 1  Ttl   0.0   11079.99   11774.89   10369.26   13559.93
8       Week 2    M   0.0    1559.60    2113.85    1470.74    1238.31
9       Week 2    T   0.0    1652.02    1545.20    1325.19    1322.14
10      Week 2    W   0.0    2940.07    1818.30    2331.95    1823.03
11      Week 2    T   0.0    2397.74    2179.65    1370.06    2166.32
12      Week 2    F   0.0    2083.58    2885.72    2545.41    1820.27
13      Week 2    S   0.0    2307.98    2480.85    2329.35    1724.49
14      Week 2    S   0.0    1286.19    1653.83    1501.89    1464.06
15      Week 2  Ttl   0.0   14227.18   14677.40   12874.59   11558.62
16      Week 3    M   0.0    1183.96    1290.25    1179.59    1013.16
17      Week 3    T   0.0    1440.63    1453.13    1127.22    1161.60
18      Week 3    W   0.0    1507.12    2677.40    1609.68    1354.82
19      Week 3    T   0.0    2091.92    1773.17    1852.34    1469.60
20      Week 3    F   0.0    2560.39    2460.01    2759.71    1336.43
21      Week 3    S   0.0    2059.95    2483.97    2061.43    1172.58
22      Week 3    S   0.0    1401.40    1506.83    1683.55    1490.25
23      Week 3  Ttl   0.0   12245.37   13644.76   12273.52    8998.44
24      Week 4    M   0.0    1337.97    1194.92    1251.46     907.22
25      Week 4    T   0.0    1239.72    1508.36    1553.27    1322.10
26      Week 4    W   0.0    1982.57    2499.65    2192.09    1467.92
27      Week 4    T   0.0    1753.62    1848.59    1789.63     879.00
28      Week 4    F   0.0    2410.03    2358.51    2293.58       0.00
29      Week 4    S   0.0    2981.81    2664.02    1574.01       0.00
30      Week 4    S   0.0     834.23    1980.26    1470.20       0.00
31      Week 4  Ttl   0.0   12539.95   14054.31   12124.24    4576.24
32      Week 5    M   0.0     942.73    1584.98    1051.55    1194.81
33      Week 5    T   0.0    1019.51    1832.25    1888.48    1096.88
34      Week 5    W   0.0    2101.34    2201.34    1478.05    1068.79
35      Week 5    T   0.0    2040.47    2251.07    2138.66    1470.05
36      Week 5    F   0.0    2964.66    2212.75    2429.89    2281.21
37      Week 5    S   0.0    2363.86    2289.37    1561.97    1988.90
38      Week 5    S   0.0    1386.65    1382.80    1414.80    1433.79
39      Week 5  Ttl   0.0   12819.22   13754.56   11963.40   10534.43
40      Week 6    M   0.0    1030.31    1440.95    1136.47    1123.07
41      Week 6    T   0.0    1087.76    1490.56    1291.39    1565.04
42      Week 6    W   0.0    1290.07    1652.36    1631.72    1790.43
43      Week 6    T   0.0    2081.81    2266.20    2139.76    1994.96
44      Week 6    F   0.0    2208.13    2934.22    2868.28    2034.28
45      Week 6    S   0.0    1977.60    2594.62    1907.06    2075.49
46      Week 6    S   0.0     978.45    2090.60    1471.71    1152.15
47      Week 6  Ttl   0.0   10654.13   14469.51   12446.39   11735.42
48      Week 7    M   0.0    1251.47    1519.62    1466.89    1201.33
49      Week 7    T   0.0    1380.05    2810.50    1640.34    1739.34
50      Week 7    W   0.0    2322.97    2247.07    2364.69    1378.08
51      Week 7    T   0.0    2143.60    2326.42    2435.56    2098.24
52      Week 7    F   0.0    2233.27    2112.66    2713.93    2469.02
53      Week 7    S   0.0    1797.80    3015.66    2280.45    1551.32
54      Week 7    S   0.0    1699.03    1922.81    1510.06     781.62
55      Week 7  Ttl   0.0   12828.19   15954.74   14411.92   11218.95
56      Week 8    M   0.0    1401.81    1507.68    1805.69    1489.34
57      Week 8    T   0.0    1212.65    1666.67    1612.55    1350.87
58      Week 8    W   0.0    1921.80    2711.96    1800.81    1402.47
59      Week 8    T   0.0    1937.69    2508.09    2766.90    2172.08
60      Week 8    F   0.0    2601.32    2582.46    2958.31    3004.11
61      Week 8    S   0.0    2843.92    2460.49    2204.04    1805.01
62      Week 8    S   0.0    1307.99    1508.08    2011.39     908.97
63      Week 8  Ttl   0.0   13227.18   14945.43   15159.69   12132.85
64      Week 9    M   0.0    1207.02    1999.75    1560.14    1884.44
65      Week 9    T   0.0    1009.37    2006.41    1710.08    1407.75
66      Week 9    W   0.0    2003.75    1793.41    2331.66    1603.48
67      Week 9    T   0.0    2211.45    2397.06    2402.07    2189.74
68      Week 9    F   0.0    2294.60    3001.11    2834.78    2120.54
69      Week 9    S   0.0    2107.92    2466.84    2684.67    1782.07
70      Week 9    S   0.0    1090.44    1501.50    1878.47    2086.17
71      Week 9  Ttl   0.0   11924.55   15166.08   15401.87   13074.19
72     Week 10    M   0.0    1423.56    2201.24    1610.19    1908.84
73     Week 10    T   0.0    1217.33    1649.21    1439.36    1287.15
74     Week 10    W   0.0    1700.44    2811.52    2441.88    1795.10
75     Week 10    T   0.0    2322.13    2747.67    2725.53    2240.35
76     Week 10    F   0.0    2568.71    2653.60    2940.23    2349.30
77     Week 10    S   0.0    2422.18    2171.90    2280.36    2091.45
78     Week 10    S   0.0    1814.96    1890.30    1788.51    1169.69
79     Week 10  Ttl   0.0   13469.31   16125.44   15226.06   12841.88
80      Week11    M   0.0    1158.08    1971.19    1500.79    1978.18
81      Week11    T   0.0    1449.80    2135.87    1577.35    2001.26
82      Week11    W   0.0    1711.84    2503.98    2401.17    4378.85
83      Week11    T   0.0    2338.18    2741.56    2523.64    1675.30
84      Week11    F   0.0    2205.39    3227.86    2036.64    2612.04
85      Week11    S   0.0    4426.94    3479.47    1950.18    2266.15
86      Week11    S   0.0    1134.90    5569.07    1411.40    1450.91
87      Week11  Ttl   0.0   14425.13   21629.00   13401.17   16362.69
88     Week 12    M   0.0    1250.19    1595.11    1304.09    1344.83
89     Week 12    T   0.0    1518.01    2045.64    1253.87    2175.32
90     Week 12    W   0.0    1683.53    3012.08       0.00    2006.27
91     Week 12    T   0.0    2328.36    2644.66       0.00    2323.69
92     Week 12    F   0.0    2560.84    2715.21       0.00    2795.99
93     Week 12    S   0.0    2377.53    2976.26       0.00    2618.30
94     Week 12    S   0.0    1403.96    2340.18       0.00    1377.20
95     Week 12  Ttl   0.0   13122.42   17329.14    2557.96   14641.60
96     Week 13    M   0.0    1179.61    1696.88       0.00    1608.67
97     Week 13    T   0.0    1194.55    1420.16       0.00    1748.11
98     Week 13    W   0.0    2063.12    2663.67       0.00    2371.42
99     Week 13    T   0.0    1789.29    2625.30       0.00    2115.37
100    Week 13    F   0.0    2157.35    2843.27       0.00    2073.66
101    Week 13    S   0.0    1767.36    2455.20       0.00    2259.46
102    Week 13    S   0.0     923.28    1313.10       0.00    1730.28
103    Week 13  Ttl   0.0   11074.56   15017.58       0.00   13906.97
104  Quarterly    0   0.0  163637.18  198542.84  148210.07  155142.21

In [27]:
# using for loops to rename the NaN/0 into the correct week number
# going to copy the for loop for each df because im lazy

for i in range(1, len(Q1)):
    if Q1.loc[i, 'Week'] == 0:
        Q1.loc[i, 'Week'] = Q1.loc[i-1, 'Week']
    else:
        continue
for i in range(1, len(Q2)):
    if Q2.loc[i, 'Week'] == 0:
        Q2.loc[i, 'Week'] = Q2.loc[i-1, 'Week']
    else:
        continue
for i in range(1, len(Q3)):
    if Q3.loc[i, 'Week'] == 0:
        Q3.loc[i, 'Week'] = Q3.loc[i-1, 'Week']
    else:
        continue
for i in range(1, len(Q4)):
    if Q4.loc[i, 'Week'] == 0:
        Q4.loc[i, 'Week'] = Q4.loc[i-1, 'Week']
    else:
        continue

In [30]:
Q1

          Week  Day  2017       2018       2019       2020       2021
0       Week 1    M   0.0       0.00    1877.88    1776.24    1855.74
1       Week 1    T   0.0    1222.95       0.00    2336.43    1305.33
2       Week 1    W   0.0    2021.75    2181.72       0.00    2450.89
3       Week 1    T   0.0    1602.64    1838.60    1456.68    1986.80
4       Week 1    F   0.0    1896.04    2267.91    1830.02    2574.28
5       Week 1    S   0.0    3026.82    2209.32    1453.82    2073.30
6       Week 1    S   0.0    1309.79    1399.46    1516.07    1313.59
7       Week 1  Ttl   0.0   11079.99   11774.89   10369.26   13559.93
8       Week 2    M   0.0    1559.60    2113.85    1470.74    1238.31
9       Week 2    T   0.0    1652.02    1545.20    1325.19    1322.14
10      Week 2    W   0.0    2940.07    1818.30    2331.95    1823.03
11      Week 2    T   0.0    2397.74    2179.65    1370.06    2166.32
12      Week 2    F   0.0    2083.58    2885.72    2545.41    1820.27
13      Week 2    S   0.0    2307.98    2480.85    2329.35    1724.49
14      Week 2    S   0.0    1286.19    1653.83    1501.89    1464.06
15      Week 2  Ttl   0.0   14227.18   14677.40   12874.59   11558.62
16      Week 3    M   0.0    1183.96    1290.25    1179.59    1013.16
17      Week 3    T   0.0    1440.63    1453.13    1127.22    1161.60
18      Week 3    W   0.0    1507.12    2677.40    1609.68    1354.82
19      Week 3    T   0.0    2091.92    1773.17    1852.34    1469.60
20      Week 3    F   0.0    2560.39    2460.01    2759.71    1336.43
21      Week 3    S   0.0    2059.95    2483.97    2061.43    1172.58
22      Week 3    S   0.0    1401.40    1506.83    1683.55    1490.25
23      Week 3  Ttl   0.0   12245.37   13644.76   12273.52    8998.44
24      Week 4    M   0.0    1337.97    1194.92    1251.46     907.22
25      Week 4    T   0.0    1239.72    1508.36    1553.27    1322.10
26      Week 4    W   0.0    1982.57    2499.65    2192.09    1467.92
27      Week 4    T   0.0    1753.62    1848.59    1789.63     879.00
28      Week 4    F   0.0    2410.03    2358.51    2293.58       0.00
29      Week 4    S   0.0    2981.81    2664.02    1574.01       0.00
30      Week 4    S   0.0     834.23    1980.26    1470.20       0.00
31      Week 4  Ttl   0.0   12539.95   14054.31   12124.24    4576.24
32      Week 5    M   0.0     942.73    1584.98    1051.55    1194.81
33      Week 5    T   0.0    1019.51    1832.25    1888.48    1096.88
34      Week 5    W   0.0    2101.34    2201.34    1478.05    1068.79
35      Week 5    T   0.0    2040.47    2251.07    2138.66    1470.05
36      Week 5    F   0.0    2964.66    2212.75    2429.89    2281.21
37      Week 5    S   0.0    2363.86    2289.37    1561.97    1988.90
38      Week 5    S   0.0    1386.65    1382.80    1414.80    1433.79
39      Week 5  Ttl   0.0   12819.22   13754.56   11963.40   10534.43
40      Week 6    M   0.0    1030.31    1440.95    1136.47    1123.07
41      Week 6    T   0.0    1087.76    1490.56    1291.39    1565.04
42      Week 6    W   0.0    1290.07    1652.36    1631.72    1790.43
43      Week 6    T   0.0    2081.81    2266.20    2139.76    1994.96
44      Week 6    F   0.0    2208.13    2934.22    2868.28    2034.28
45      Week 6    S   0.0    1977.60    2594.62    1907.06    2075.49
46      Week 6    S   0.0     978.45    2090.60    1471.71    1152.15
47      Week 6  Ttl   0.0   10654.13   14469.51   12446.39   11735.42
48      Week 7    M   0.0    1251.47    1519.62    1466.89    1201.33
49      Week 7    T   0.0    1380.05    2810.50    1640.34    1739.34
50      Week 7    W   0.0    2322.97    2247.07    2364.69    1378.08
51      Week 7    T   0.0    2143.60    2326.42    2435.56    2098.24
52      Week 7    F   0.0    2233.27    2112.66    2713.93    2469.02
53      Week 7    S   0.0    1797.80    3015.66    2280.45    1551.32
54      Week 7    S   0.0    1699.03    1922.81    1510.06     781.62
55      Week 7  Ttl   0.0   12828.19   15954.74   14411.92   11218.95
56      Week 8    M   0.0    1401.81    1507.68    1805.69    1489.34
57      Week 8    T   0.0    1212.65    1666.67    1612.55    1350.87
58      Week 8    W   0.0    1921.80    2711.96    1800.81    1402.47
59      Week 8    T   0.0    1937.69    2508.09    2766.90    2172.08
60      Week 8    F   0.0    2601.32    2582.46    2958.31    3004.11
61      Week 8    S   0.0    2843.92    2460.49    2204.04    1805.01
62      Week 8    S   0.0    1307.99    1508.08    2011.39     908.97
63      Week 8  Ttl   0.0   13227.18   14945.43   15159.69   12132.85
64      Week 9    M   0.0    1207.02    1999.75    1560.14    1884.44
65      Week 9    T   0.0    1009.37    2006.41    1710.08    1407.75
66      Week 9    W   0.0    2003.75    1793.41    2331.66    1603.48
67      Week 9    T   0.0    2211.45    2397.06    2402.07    2189.74
68      Week 9    F   0.0    2294.60    3001.11    2834.78    2120.54
69      Week 9    S   0.0    2107.92    2466.84    2684.67    1782.07
70      Week 9    S   0.0    1090.44    1501.50    1878.47    2086.17
71      Week 9  Ttl   0.0   11924.55   15166.08   15401.87   13074.19
72     Week 10    M   0.0    1423.56    2201.24    1610.19    1908.84
73     Week 10    T   0.0    1217.33    1649.21    1439.36    1287.15
74     Week 10    W   0.0    1700.44    2811.52    2441.88    1795.10
75     Week 10    T   0.0    2322.13    2747.67    2725.53    2240.35
76     Week 10    F   0.0    2568.71    2653.60    2940.23    2349.30
77     Week 10    S   0.0    2422.18    2171.90    2280.36    2091.45
78     Week 10    S   0.0    1814.96    1890.30    1788.51    1169.69
79     Week 10  Ttl   0.0   13469.31   16125.44   15226.06   12841.88
80      Week11    M   0.0    1158.08    1971.19    1500.79    1978.18
81      Week11    T   0.0    1449.80    2135.87    1577.35    2001.26
82      Week11    W   0.0    1711.84    2503.98    2401.17    4378.85
83      Week11    T   0.0    2338.18    2741.56    2523.64    1675.30
84      Week11    F   0.0    2205.39    3227.86    2036.64    2612.04
85      Week11    S   0.0    4426.94    3479.47    1950.18    2266.15
86      Week11    S   0.0    1134.90    5569.07    1411.40    1450.91
87      Week11  Ttl   0.0   14425.13   21629.00   13401.17   16362.69
88     Week 12    M   0.0    1250.19    1595.11    1304.09    1344.83
89     Week 12    T   0.0    1518.01    2045.64    1253.87    2175.32
90     Week 12    W   0.0    1683.53    3012.08       0.00    2006.27
91     Week 12    T   0.0    2328.36    2644.66       0.00    2323.69
92     Week 12    F   0.0    2560.84    2715.21       0.00    2795.99
93     Week 12    S   0.0    2377.53    2976.26       0.00    2618.30
94     Week 12    S   0.0    1403.96    2340.18       0.00    1377.20
95     Week 12  Ttl   0.0   13122.42   17329.14    2557.96   14641.60
96     Week 13    M   0.0    1179.61    1696.88       0.00    1608.67
97     Week 13    T   0.0    1194.55    1420.16       0.00    1748.11
98     Week 13    W   0.0    2063.12    2663.67       0.00    2371.42
99     Week 13    T   0.0    1789.29    2625.30       0.00    2115.37
100    Week 13    F   0.0    2157.35    2843.27       0.00    2073.66
101    Week 13    S   0.0    1767.36    2455.20       0.00    2259.46
102    Week 13    S   0.0     923.28    1313.10       0.00    1730.28
103    Week 13  Ttl   0.0   11074.56   15017.58       0.00   13906.97
104  Quarterly    0   0.0  163637.18  198542.84  148210.07  155142.21